<div class="ant-comment">
    <div class="ant-comment-inner">
        <div class="ant-comment-avatar">
            <Icon Type="flag" Theme="outline" />
        </div>
        <div class="ant-comment-content">
            <div class="ant-comment-content-author">
                <span class="ant-comment-content-author-time">
                    <Tooltip Title="@($"{Timestamp.ToLongDateString()} {Timestamp.ToLongTimeString()}")">
                        <span>@MomentHelper.FromNow(Timestamp)</span>
                    </Tooltip>
                </span>
            </div>
            <div class="ant-comment-content-detail">
                <p>@((MarkupString)Contents)</p>
            </div>
            <ul class="ant-comment-actions">
                <li>
                    <Button Icon="edit"
                            Size="small"
                            Type="link"
                            OnClick="@(() => OnEditClick.InvokeAsync(NoteId))"
                            Disabled="@(!OnEditClick.HasDelegate)"></Button>
                </li>
                <li>
                    <Button Icon="delete"
                            Size="small"
                            Type="link"
                            OnClick="@(() => OnDeleteClick.InvokeAsync(NoteId))"
                            Disabled="@(!OnDeleteClick.HasDelegate)" />
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int NoteId { get; set; }

    [Parameter]
    public DateTime Timestamp { get; set; }

    [Parameter]
    public string Contents { get; set; }

    [Parameter]
    public EventCallback<int> OnEditClick { get; set; }

    [Parameter]
    public EventCallback<int> OnDeleteClick { get; set; }
}
