@page "/sec"
@page "/sec/jobsearch"

@using LinkedOut.Application.JobSearches.Queries.GetJobSearchesForUser

@inject IMediator _mediator
@inject ICurrentUserService _currentUserService
@inject MessageService _message

<Content Class="container">
    <div class="root">
        <Space Direction="vertical" Size="large" Style="width: 100%;">
            <SpaceItem>
                <Button Icon="plus" OnClick=@(() => handleCreateJobSearchClick()) Type="@ButtonType.Primary">Create search</Button>
            </SpaceItem>

            <SpaceItem>
                @if (_loading)
                {
                    <Spin />
                }
                else if (_jobSearches.Count == 0)
                {
                    <Empty>
                        <DescriptionTemplate>
                            You have not began any job searches
                        </DescriptionTemplate>
                        <ChildContent>
                            <Button Type="@ButtonType.Primary" OnClick="@handleCreateJobSearchClick">Start one now</Button>
                        </ChildContent>
                    </Empty>
                    
                }
                else
                {
                    <Table TItem="JobSearchSummaryDto" DataSource="@_jobSearches">
                        <Column @bind-Field="@context.Title">
                            <a href=@(Routes.MakeJobSearchUrl(context.Id))>@context.Title</a>
                        </Column>
                        <Column @bind-Field="@context.Created" Title="Began">
                            @context.Created.ToShortDateString()
                        </Column>
                        <Column @bind-Field="@context.ApplicationsCount" Title="Opportunities"></Column>
                        @*<ActionColumn Title="Action">
                                <Space Size="middle">
                                    <SpaceItem>
                                        <a>Delete</a>
                                    </SpaceItem>
                                </Space>
                            </ActionColumn>*@
                    </Table>
                }
            </SpaceItem>
        </Space>
    </div>
</Content>

<CreateJobSearchModal @ref="createJobSearchModal"
                      OnCreate="handleJobSearchCreate" />

@code {
    bool _loading = false;

    public void handleCreateJobSearchClick()
    {
        Console.WriteLine("Handling a click event!");
        createJobSearchModal.Show();
    }

    CreateJobSearchModal createJobSearchModal;

    private List<JobSearchSummaryDto> _jobSearches = new List<JobSearchSummaryDto>();

    private async Task handleJobSearchCreate(int jobSearchId)
    {
        // awaiting this pauses execution until it returns, which we don't want
        // instead, we just fire & forget
        _message.Success($"Job search successfully created");
        await RefreshJobSearches();
    }

    /// <summary>
    /// Fetches the job searches associated with the current user.
    /// </summary>
    /// <remarks>This operaiton refreshes the state upon completion.</remarks>
    /// <returns></returns>
    private async Task RefreshJobSearches()
    {
        _loading = true;
        StateHasChanged();


        var vm = await _mediator.Send(new GetJobSearchesForUserQuery { UserId = _currentUserService.UserId });
        _jobSearches = vm.JobSearches;

        _loading = false;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshJobSearches();

        await base.OnInitializedAsync();
    }
}
